Ensure osmud follows the expectations listed below in draft ietf-20 section 1.6

Found at https://tools.ietf.org/html/draft-ietf-opsawg-mud-20#section-1.6 we need to verify we are compliant with the following

1.6.  Processing of the MUD URL

   MUD controllers that are able to do so SHOULD retrieve MUD URLs and
   signature files as per [RFC7230], using the GET method [RFC7231].
   They MUST validate the certificate using the rules in [RFC2618],
   Section 3.1.

   Requests for MUD URLs SHOULD include an "Accept" header ([RFC7231],
   Section 5.3.2) containing "application/mud+json", an "Accept-
   Language" header ([RFC7231], Section 5.3.5), and a "User-Agent"
   header ([RFC7231], Section 5.5.3).

   MUD controllers SHOULD automatically process 3xx response status
   codes.